@model IEnumerable<cuenta_ahorro.EF.Entities.Client>

<table class="table" id="table-client">
    <thead>
        <tr>
            <th class="text-center"># Identificación</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td  class="text-center"> SPF - @Html.DisplayFor(modelItem => item.Id) </td>
                    <td>@Html.DisplayFor(modelItem => item.FullName) </td>
                </tr>
            }
        }
    </tbody>
</table>
