<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <img class="img-fluid" src="https://image.freepik.com/vector-gratis/ilustracion-concepto-error-401-no-autorizado_114360-1922.jpg" /> 
                <p class="text-center display-4 mt-4 font-weight-bold">No tienes acceso!</p>   
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('.page-content').addClass('d-flex align-items-center justify-content-center')
    </script>  
}