@model cuenta_ahorro.Models.History

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <partial name="List" />
                <div class="container-fluid w-100">
                    <a href="/History/Report/@Model.OpeningSavingAccount.AccountNumber" class="btn btn-outline-danger float-right mt-4" target="_blank"><i data-feather="file" class="mr-2 icon-md"></i>Reporte</a>
                </div>
            </div>
        </div>
	</div>
</div>
                    